/SysAcad2.0 Python/test/__pycache__
/SysAcad2.0 Python/app/config/__pycache__
/SysAcad2.0 Python/app/mapping/__pycache__
/SysAcad2.0 Python/app/models/__pycache__
/SysAcad2.0 Python/app/repositories/__pycache__
/SysAcad2.0 Python/app/services/__pycache__
/SysAcad2.0 Python/app/resources/__pycache__
